@model WebUI.MVC.Models.Bookings

@{
    ViewData["Title"] = "Bookings";
}

<h1>Bookings</h1>

<!--CSS START-->
<link rel="stylesheet" href="~/lib/toastr.js/toastr.min.css" asp-append-version="true"/>
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<!--CSS END-->

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table id = "datatables" class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                FromDateTime
            </th>
            <th>
                ReturnDateTime
            </th>
            <th>
                PickUpLocationId
            </th>
            <th>
                DropOffLocationId
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in @Model.BookingList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpLocationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DropOffLocationId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id  }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>


<!--SCRIPTS START-->
@section Scripts
{
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/datatables.js"></script>
<script src="~/lib/toastr.js/toastr.min.js" asp-append-version="true"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
}
<!--SCRIPTS END-->
