@model IEnumerable<Domain.Entities.Booking>

@{
    ViewData["Title"] = "Bookings";
}

<h1>Bookings</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FromDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickUpLocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FromDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpLocation.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
